* {
  box-sizing: border-box;
}
body {
  font-family: 'open sans', helvetica, arial, sans;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.log-form h2 {
  color: #a1a1a1;
  font-family: 'open sans condensed';
  font-size: 1.35em;
  display: block;
  background: #2a2a2a;
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 200;
  text-align: center;
}
.log-form input {
  display: block;
  font-size: 0.8em;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
.log-form input:focus {
  outline: none;
}
.log-form .btn {
  display: inline-block;
  font-size: 0.8em;
  background: #1fb5bf;
  border: 1px solid #1ba0a9;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.log-form .btn:hover {
  background: #23cad5;
}
.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.log-form .btn:focus {
  outline: none;
}

textarea {
  resize: vertical;
  font-family: 'open sans', helvetica, arial, sans;
  font-size: 0.8em;
  color: #757575;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  
}

.log-form label {
  display: block;
  font-family: 'open sans', helvetica, arial, sans;
  font-size: 0.9em;
  color: #757575;
}
input, .content {
  display: none;
  
  line-height: 25px;
  padding: 5px 25px;
  color: black;
  font: normal 1em/150% Sans-Serif;
  min-width: 200px;
}

#one:checked ~ .one,
#two:checked ~ .two,
#three:checked ~ .three 
{display: block;}
.logout{
  cursor: pointer;
  background: #999;
  height: 25px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  color:black;
  font: normal 1em/150% Sans-Serif;
  margin-right: -3px;
}
label {
  cursor: pointer;
  background: #999;
  height: 25px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  color:black;
  font: normal 1em/150% Sans-Serif;
  margin-right: -3px;
   
}

label:hover, input:checked + label {background: white;}

h3, p {
  text-indent: 25px;
  text-align: justify;
}




